In [1]:
#Imports 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3
import matplotlib.pyplot as plt

# Input data files are available in the "../data/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

path = "../data/"  #Insert path here
database = path + 'artists.db'

Create Database connection:

In [ ]:
conn = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

If you can see the 'tables' object above, then you're good to go!

In [4]:
artists = pd.read_sql("""SELECT Name
                        FROM artists LIMIT 10;""", conn)
artists

              Name
0   Robert Arneson
1   Doroteo Arnaiz
2      Bill Arnold
3  Charles Arnoldi
4      Per Arnoldi
5    Danilo Aroldi
6        Bill Aron
7    David Aronson
8    Irene Aronson
9  Jean (Hans) Arp